<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DBmodel.Properties.Settings.DBtrpoConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DBtrpo.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="DBmodel.Properties.Settings.trpoConnectionString"
      connectionString="Data Source=|DataDirectory|\trpo.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="DBmodel.Properties.Settings.trpoConnectionString1"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\trpo.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>